* { border: 0.1em solid black; }

.discontinued{
    border: 0.1e, dotted black;
}

.rojo{
    background-color: red;
}

.negro{
    background-color: black;
}

.texto-blanco{
    color: #fff;

}

.redondo{
    border-radius: 50%;
}

.border-green {
    border: 0.1em solid green;
}

.px50 {
    width: 50px;
    height: 50px;
    text-align: center;
}